section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid_head{
    width: 80%;
    padding: 30px 0px 10px 0px;
    text-align: left;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.5rem;
    text-shadow: 1px 3px 6px #7A8187;
}

#grid_container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2.3fr 4.5fr 2fr;
    text-align: left;
    font-size: 20px;
}

#Step, #Step_name, #Step_infor, #Step_correct{
    border-bottom: 2px solid #707070;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#Step_name, #Step_infor, #Step_correct{
    font-family: 'Noto Sans KR', sans-serif;
}

#Step{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-size: 30px;
    color: #707070;
}

#Step_name{
    font-size: 25px;
    font-weight: 700;
}

#Step_name:hover{
    color: #2D45EA;
    cursor: pointer;
    transition: .1s;
}

#Step_infor{
    border-left :1px solid gray;
    border-right: 1px solid gray;
    padding-left: 20px;
}

#Step_correct{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
}

#correct, #wrong{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px #7A8187;
    border-radius: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    background-color: white;
}

#correct{   
    color: #18ae79;
}

#wrong{
    color: #d05700;
}

#wrong:hover{
    width: 100px;
    height: 50px;
    transition: .2s;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}